## Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#(i)string

Name= "Fahim Ahmad"
print(Name)
type(Name)

Fahim Ahmad

str

In [2]:
#(ii)list

List= ["Fahim", 3.14, False, 234, 3+4j, True]
print(List)
type(List)

['Fahim', 3.14, False, 234, (3+4j), True]

list

In [3]:
#(iii)float
pi_number= 3.14
print(pi_number)
type(pi_number)

3.14

float

In [4]:
#(iv)tuple

Tuple=("Fahim", 3.14, False, 234, 3+4j, True)
print(Tuple)
type(Tuple)

('Fahim', 3.14, False, 234, (3+4j), True)

tuple

## Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [5]:
var1= ''
type(var1)

str

In [6]:
var2='[DS,ML,Python]'
type(var2)

str

In [7]:
var3 =['DS','ML','Python']
type(var3)

list

In [8]:
var4=1
type(var4)

int

## Q3. Explain the use of the following operators using an example:
(i) /

(ii) %

(iii) //

(iv) **

In [9]:
#Divides the number on the left by the number on the right, returns a float (decimal) even if the division is exact.

division= 80/8
division

10.0

In [10]:
#Returns the remainder after dividing the left number by the right.

Modulus= 20%3
Modulus

2

In [11]:
#Performs division and rounds down to the nearest whole number (integer).

Floor_Division=20//3
Floor_Division

6

In [12]:
#Raises the number on the left to the power of the number on the right.

Exponentiation=2**3
Exponentiation

8

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print theelement and its data type.

In [13]:
List= [25, "Ahmad", 3.14, True, None, [1, 2, 3], {"Name": "Fahim"}, (5, 6), {1, 2}, b"bytes"]

for i in List:
    print(f"Element: {i}, Type: {type(i)}")

Element: 25, Type: <class 'int'>
Element: Ahmad, Type: <class 'str'>
Element: 3.14, Type: <class 'float'>
Element: True, Type: <class 'bool'>
Element: None, Type: <class 'NoneType'>
Element: [1, 2, 3], Type: <class 'list'>
Element: {'Name': 'Fahim'}, Type: <class 'dict'>
Element: (5, 6), Type: <class 'tuple'>
Element: {1, 2}, Type: <class 'set'>
Element: b'bytes', Type: <class 'bytes'>

## Q5. Using a while loop, verify if the number A is purely divisible  by number B and if so then how many times it can be divisible.

In [24]:
# Example values
A = int(input())
B = int(input())

count = 0

# Use while loop to divide A by B until it's no longer divisible
while A % B == 0:
    A = A // B
    count += 1

print(f"The number is divisible by {B} times by {count}.")

 112
 2

The number is divisible by 2 times by 4.


## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [50]:
list= [1, 2,21,65,76,87,3,4,5,6,7,8,9,10,11,22,33,22,44,22,55,66,77,88,66]
(print(list))
for i in list:
    if i % 3==0:
         print(f"{i} is divisible by 3")
    else:
         print(f"{i} is not divisible by 3")

[1, 2, 21, 65, 76, 87, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 33, 22, 44, 22, 55, 66, 77, 88, 66]
1 is not divisible by 3
2 is not divisible by 3
21 is divisible by 3
65 is not divisible by 3
76 is not divisible by 3
87 is divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
22 is not divisible by 3
33 is divisible by 3
22 is not divisible by 3
44 is not divisible by 3
22 is not divisible by 3
55 is not divisible by 3
66 is divisible by 3
77 is not divisible by 3
88 is not divisible by 3
66 is divisible by 3

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

## Mutable
Definition: These are data types whose values can be changed after the object is created.

example: list, dic, set

## Immutable
Definition: These are data types whose values cannot be changed once the object is created.

example: int, float, tuple